
<footer id="talk">
  <div class="footer-container"><a class="white-text" href="mailto:{{ site.email }}" target="blank">
      <p>Got a project?</p>
      <h3>Let's talk</h3></a></div>
  <div class="foot">
    <div class="copyright">© 2020 by Ian Mihura. Photos from <a href="https://unsplash.com/" target="blank">Unsplash</a>.</div>
    <div class="social"><span>my_social_media: </span><a class="clickable" href="{{ site.github_link }}" target="blank"><span>github; </span></a><a class="clickable" href="{{ site.twitter_link }}" target="blank"><span>twitter; </span></a><a class="clickable" href="{{ site.instagram_link }}" target="blank"><span>instagram; </span></a></div>
  </div>
</footer>