<!-- 2 Column scripts component -->

<div class="script-row">
    {% for script in site.scripts limit: include.limit %}
    <div class="card white script-card">
        <div class="card-content black-text">
            <!-- <a href="{{ site.url }}/assets/scripts/{{ script.iframe }}" class="black-text"> -->
            <a class="black-text" href="{{ site.url }}{{ script.url }}">
                <span class=" card-title">{{ script.title }}</span>
                <p>{{ script.description }}</p>
            </a>
        </div>
        <div class="card-action">
            <!-- <a class="blue-text" href="{{ site.url }}/assets/scripts/{{ script.iframe }}"> -->
            <a class="blue-text" href="{{ site.url }}{{ script.url }}">
                Ver Script
            </a>
        </div>
    </div>
    {% endfor %}
</div>