<head>
    {% if page.url == "/" %}
    <title>{{ site.title }}</title>
    {% elsif page.title %}
    <title>{{ site.title }} | {{ page.title }}</title>
    {% else %}
    <title>{{ site.title }}</title>
    {% endif %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1">

    <meta name="description"
        content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta name="keywords" content="{{ page.tags | join: ', ' }}">
    <!-- Robots -->
    <meta name="robots" content="follow" />
    <!-- Twitter Cards -->
    <meta name="twitter:card" content="summary">
    {% if site.twitter %}
    <meta name="twitter:site" content="@{{ site.twitter }}">
    <meta name="twitter:creator" content="@{{ site.twitter }}">
    {% endif %}
    <!-- Open Graph -->
    {% if page.title %}
    <meta name="twitter:image" content="{{ site.url }}/assets/img/posts/{{ page.image }}">
    <meta name="twitter:title" content="{{ page.title }}">
    <!--meta name="twitter:description" content="{{ page.excerpt }}"-->
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:site_name" content="{{ page.title }}">
    <meta property="og:image" itemprop="image"
        content="{{ site.url }}/assets/img/posts/{{ page.image }}">
    <meta property="og:image:secure_url" content="{{ site.url }}/assets/img/posts/{{ page.image }}">
    <!--meta property="og:description" content="{{ page.excerpt }}"-->
    {% else %}
    <meta name="twitter:image" content="{{ site.url }}/{{ site.logo }}">
    <meta name="twitter:title" content="{{ site.title }}">
    <meta property="og:site_name" content="{{ site.title }}">
    <!--meta name="twitter:description" content="{{ page.description }}"-->
    <meta property="og:title" content="{{ site.title }}">
    <meta property="og:image" itemprop="image" content="{{ site.url }}/{{ site.logo }}">
    <meta property="og:image:secure_url" content="{{ site.url }}/{{ site.logo }}">
    <!--meta property="og:description" content="{{ site.description }}"-->
    {% endif %}
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.url }}">
    <meta property="og:locale" content="{{ site.locale }}">

    <!-- Favicon -->
    <link rel="icon" href="{{ site.url }}/assets/img/favicon.png?v=2">

    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" )>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="{{ site.url }}/assets/js/main.js"></script>
    <link rel="stylesheet" href="{{ site.url }}/assets/css/style.css">
    {% include analytics.html %}
</head>
