<hr class="hr-line">
<h3 class="title" style="font-size:30px;">
    {% if site.email %}<a class="" href="mailto:{{ site.email }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-envelope-square"></i></a>{% endif %}
    {% if site.twitter %}<a class="" href="http://twitter.com/{{ site.twitter }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-twitter"></i></a>{% endif %}
    {% if site.facebook %}<a class="" href="http://facebook.com/{{ site.facebook }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-facebook-f"></i></a>{% endif %}
    {% if site.linkedin %}<a class="" href="http://linkedin.com/in/{{ site.linkedin }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-linkedin"></i></a>{% endif %}
    {% if site.instagram %}<a class="" href="http://instagram.com/{{ site.instagram }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-instagram"></i></a>{% endif %}
    {% if site.tumblr %}<a class="" href="http://{{ site.tumblr }}.tumblr.com" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-tumblr-square"></i></a>{% endif %}
    {% if site.github-url %}<a class="" href="http://github.com/{{ site.github-url }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-github"></i></a>{% endif %}
    {% if site.youtube %}<a class="" href="https://youtube.com/user/{{ site.youtube }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-youtube"></i></a>{% endif %}
    {% if site.youtube-channel %}<a class="" href="https://youtube.com/channel/{{ site.youtube-channel }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-youtube"></i></a>{% endif %}
</h3>
