// Custom SCSS files

#disqus_thread {
    margin: 100px 0;
}

.container {
    margin: 0 auto;
    max-width: 1024px !important;
    width: 90%
}

@media #{$large} {
    .container {
        width: 70% !important;
    }
}

.github-text {
    color: white;
}

.instagram-text {
    color: white;
}

.twitter-text {
    color: white;
}