// Custom SCSS files

#disqus_thread {
    margin: 100px 0;
}

.container {
    margin: 0 auto;
    max-width: 1024px !important;
    width: 90%
}

@media #{$large} {
    .container {
        width: 70% !important;
    }
}

.github-text {
    color: white;
}

.instagram-text {
    color: white;
}

.twitter-text {
    color: white;
}

.z-depth-1, nav, .card-panel, .btn, .btn-large, .btn-small, .btn-floating, .dropdown-content, .collapsible, .sidenav {
    -webkit-box-shadow: 0 0 !important;
    box-shadow: 0 0 !important;;
}