.banner-img {
    text-align: center;

    img {
        max-height: 350px;
    }
}

#mc_embed_signup {
    margin: 20px auto;
    max-width: 400px;
    text-align: center;
}

.feature-title {
    h3 {
        margin-bottom: 0;
    }
}

.about-card {
    margin: 120px auto;
}