body {
    font-family: Crimson Text, serif;
    font-size: 16px;
}

blockquote {
    border-left: 0.5px solid #bebebe;
    color: grey;
}

a:hover {
    color: #212121 !important;
}

p {
    font-size: 1.2rem;
}

a {
    color: rgb(146, 18, 18);
}

hr {
    border: 0.5px solid #8192c0;
}

.hidden {
    display: none;
}

.activator {
    cursor: pointer;
}

.brand-logo {
    img {
        max-width: 50px;
        vertical-align: sub;
    }

    @media #{$small} {
        span {
            display: none;
        }
    }
}

.justified {
    text-align: justify;
}

// Custom Selection
::selection {
    background: #ccc;
}

// Custom Scrollbar
// width
::-webkit-scrollbar {
  width: 6px;
}
 
// Handle
::-webkit-scrollbar-thumb {
  background: #4b4b4b; 
  border-radius: 10px;
}

// Handle on hover
::-webkit-scrollbar-thumb:hover {
  background: #adadad; 
}

/* The progress container (grey background) */
.progress-container {
    width: 100%;
    height: 4px;

    background: #ccc;
    position: fixed;
    bottom: 0;
    z-index: 99;

    div {
        height: 8px;
        background: #4b4b4b;
        width: 0%;
    }
}

.footer-icons {
    a {
        padding: 10px;
        svg {
            height: 36px;
            width: 36px !important;
        }
    }
}

.footer-container {
    @media #{$small} {
        margin: 5px !important;
    }
    @media #{$notsmall} {
        margin: 0 75px !important;
    }
}

.contact-container {
    margin: 100px 0 !important;
}

.sidenav-icons {
    padding: 0 15px;
    a {
        margin-left: 15px;
        :hover {
            color: black;
        }
        svg {
            margin-top: 15px;
            height: 24px;
            width: 24px !important;
        }
    }
}