---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    {% include head.html %}
</head>

<body>
    {% include nav.html %}
    <!-- Header -->
    <header class="header flex" role="banner">
        <div class="container animated fadeIn">
            <div class="row">
                <!--a href="{{ site.url }}">
                        <img src="{{ site.logo }}" class="img-circle zoombtn animated rotateIn">
                    </a-->
                <h3 class="title">
                    <a class="zoombtn" href="{{ site.url }}">
                        <img class="author-image" src="./assets/img/title.png">
                    </a>
                </h3>
                <h3 class="title long-bio">
                    <a href="{{ site.url }}">
                        <p style="font-size:1.25rem;font-weight:300;text-align: justify;">{{ site.long_bio }}</p>
                    </a>
                </h3>
                {% include social-links.html %}
                <hr class="hr-line">

                <!--h3 class="title">
                        <p style="font-size:1rem;font-weight:300">Subscribe to our Newsletter</p>
                        <form action="https://formspree.io/future.philosophyy@gmail.com" method="POST">
                            <input class="btn" type="email" name="_replyto">
                            <input class="btn zoombtn" type="submit" value="Send">
                        </form>
                   </h3-->

                {% include mailchimp.html %}

            </div>
        </div>
    </header>
    {% include scripts.html %}
</body>

</html>
