<!doctype html>
<html>

{% include head.html %}

<body class="black-text">
    {% include nav.html %}
    {% include sidenav.html %}
    <div class="container">
        {% include home_banner.html %}
        <hr>
        <div class="feature-title">
            <h3>Notas más recientes</h3>
            <a class="blue-grey-text" href="{{ site.url }}{{ site.data.navigation[0].url }}">
                Ver todas
            </a>
        </div>
        <br>
        <br>
        {% include grids/post.html limit=3 %}
        <hr>

        <div class="feature-title">
            <h3>Scripts más recientes</h3>
            <a class="blue-grey-text" href="{{ site.url }}{{ site.data.navigation[1].url }}">
                Ver todas
            </a>
        </div>
        <br>
        <br>
        {% include grids/script.html limit=3 %}

    </div>
    {% include footer.html %}
</body>

</html>