---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}
    <!-- Header -->
    <header class="header" role="banner">
        {% include nav-bar.html %}
        <div class="wrapper animated fadeIn">
            <div class="content-list">
                <div class="post-title">
                    <h1>{{ page.title }}</h1>
                </div>
                {% include mailchimp.html %}
                <div class="post-list">
                    {% for post in site.posts %}
                    <ul>
                        <li class="wow post-list" data-wow-duration="1.5s">

                            <a href="{{ site.url }}{{ post.url }}">
                                {% if post.image %}
                                <h3 class="title">
                                    <img class="" src="../assets/img/posts/{{ post.image }}" >
                                </h3>
                                {% endif %}
                                <p>
                                    <i>{{ post.date | date_to_string }}</i>
                                    <br />
                                    {{ post.authors }}
                                </p>
                            </a>

                            <a href="{{ site.url }}{{ post.url }}" class="btn zoombtn">Publicación completa</a>
                        </li>
                    </ul>
                    {% endfor %}
                </div>
            </div>
        </div>
    </header>
    {% include scripts.html %}
    <script src="{{ site.url }}/assets/js/wow.min.js"></script>
    <script type="text/javascript">(new WOW).init();</script>
</body>
</html>
