---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}
    <!-- Header -->
    <header class="header" role="banner">
        {% include nav-bar.html %}
        <div class="wrapper animated fadeIn">
            <div class="content">
                <div class="post-title">
                    <h1>{{ page.title }}</h1>
                    <a class="btn zoombtn" href="{{site.url}}">
                        <i class="fa fa-home"></i>
                    </a>
                </div>
                <div class="post-list">
                <ul class="author-list">
                    {% for script in site.scripts %}
                        <li class="wow fadeInLeft author-item" data-wow-duration="1.5s">

                            <a href="{{ site.url }}{{ script.url }}">
                                <h1>{{ script.name }}</h1>
                                <p>{{ script.description }}</p>
                            </a>
                            <!-- <a href="{{ site.url }}/assets/scripts/{{ script.iframe }}">
                                <h1>{{ script.name }}</h1>
                                <p>{{ script.description }}</p>
                            </a> -->

                            <a href="{{ site.url }}/assets/scripts/{{ script.iframe }}" class="btn zoombtn">Play</a>
                        </li>
                    {% endfor %}
                </ul>
                </div>
            </div>
        </div>
    </header>
    {% include scripts.html %}
    <script src="{{ site.url }}/assets/js/wow.min.js"></script>
    <script type="text/javascript">(new WOW).init();</script>
</body>
</html>
