<!doctype html>
<html>

{% include head.html %}

<body class="black-text">
    {% include nav.html %}
    {% include sidenav.html %}
    <div class="container">
        <h1>Etiquetas</h1>

        {% include addons/tags.html showall=true arrow=false %}

        {% for item in (0..site.tags.size) %}{% unless forloop.last %}
        {% capture this_word %}{{ tags_list[item] | strip_newlines }}{% endcapture %}
        <article>
            <h2 id="{{ this_word }}" class="tag-heading">{{ this_word }}</h2>
            <ul>
                {% for post in site.tags[this_word] %}{% if post.title != null %}
                <li class="entry-title"><a href="{{ site.url }}{{ post.url }}"
                        title="{{ post.title }}">{{ post.title }}</a></li>
                {% endif %}{% endfor %}
            </ul>
        </article>
        {% endunless %}{% endfor %}
    </div>
    {% include footer.html %}
</body>

</html>