<!doctype html>
<html>

{% include head.html %}

<body class="black-text">
    {% include nav.html %}
    {% include sidenav.html %}

    <!-- Body -->
    <div class="container">
        <h1>{{ page.title }}</h1>

        <div class="post-tags">
            {% for tag in site.tags %}
            <div class="chip">
                <a href="{{ site.url }}/tags#{{ tag[0] }}" class="black-text">
                    {{ tag[0] }} | {{ tag[1].size }}
                    {% if include.arrow %}
                    <i class="tag-icon material-icons">arrow_forward</i>
                    {% endif %}
                </a>
            </div>
            {% endfor %}
        </div>

        <div class="content">
            {% for tag in site.tags %}
            <br>
            <hr>
            <h4 id="{{ tag[0] }}">
                #{{ tag[0] }}
            </h4>
            <br>
            <div class="grid" data-columns>
                {% for post in tag[1] %}
                {% if post.layout == 'script' %}
                {% include cards/script.html script=post %}
                {% elsif post.layout == 'post' %}
                {% include cards/post.html post=post %}
                {% endif %}
                {% endfor %}
            </div>
            {% endfor %}
        </div>

        <!-- Share -->
        {% include addons/share_buttons.html %}

    </div>

    {% include footer.html %}
</body>

</html>